:root {
    --var: value;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#phone {
    margin-top: 80px;
    margin-left: 25%;
    background-color: black;
    width: 280px;
    height: 470px;
    border-radius: 20px;
    padding: 3% 1%;
    text-align: center;
}

#phone-screen {
    background-color: white;
    width: 98%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#buttons {
    width: 98%;
    height: 10%;
    display: flex;
}

button {
    width: 50%;
}

#results-div {
    width: 100%;
    padding-top: 1em;
}

#results-div > p {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px 1px black;
    border-bottom: 1px 1px black;
    color: white;
}

.valid {
    width: 100%;
    /*border-top: 1px 1px darkgreen;
    border-bottom: 1px 1px darkgreen;*/
    background-color: green;
}

.invalid {
    width: 100%;
    /*border-top: 1px 1px darkred;
    border-bottom: 1px 1px darkred;*/
    background-color: red;
}
